<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <div
      class="container mb-3 mt-3 text-center"
      th:fragment="graph">
      <!--      <div class="position-relative">-->
      <!--        <div class="dwn-graph position-absolute end-0 top-0 m-2">-->
      <!--          <button-->
      <!--            class="btn btn-sm btn-outline-dark"-->
      <!--            id="dwnGraphBtn"-->
      <!--            data-bs-delay='{"show":1000,"hide":150}'-->
      <!--            data-bs-placement="bottom"-->
      <!--            data-bs-title="download as an image"-->
      <!--            data-bs-toggle="tooltip">-->
      <!--            <i class="bi bi bi-cloud-arrow-down"></i>-->
      <!--          </button>-->
      <!--        </div>-->
      <!--      </div>-->
      <div
        class="bg-body rounded border"
        id="graph"></div>
    </div>
  </body>
</html>
