<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="pagination_control">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <div class="input-group input-group-sm">
            <span class="input-group-text">skip</span>
            <input
              class="form-control"
              th:attr="id='skipInput', data-bs-title='skip initial N paths', placeholder='skip initial N paths', value=${skip}"
              data-bs-delay='{"show":1000,"hide":150}'
              data-bs-placement="bottom"
              data-bs-toggle="tooltip" />
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group input-group-sm">
            <span class="input-group-text">limit</span>
            <input
              class="form-control"
              th:attr="id='limitInput', data-bs-title='limit to N paths', placeholder='limit to N paths', value=${limit}"
              data-bs-delay='{"show":1000,"hide":150}'
              data-bs-placement="bottom"
              data-bs-toggle="tooltip" />
          </div>
        </div>
      </div>
      <div class="row g-3 align-items-center mt-1">
        <div class="col-auto">
          <div class="input-group input-group-sm">
            <span class="input-group-text">solverTestCoefficient</span>
            <input
              class="form-control"
              th:attr="id='solverTestCoefficientInput', data-bs-title='control graph drawing distances', placeholder='control graph drawing distances', value=1.2"
              data-bs-delay='{"show":1000,"hide":150}'
              data-bs-placement="bottom"
              data-bs-toggle="tooltip" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
