<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org">
  <body>
    <div
      class="formz bg-body container mt-3 rounded border py-3 text-center"
      th:fragment="paths_form">
      <div class="row g-3 align-items-center mb-3">
        <div class="input-group position-relative">
          <span class="input-group-text"
            ><i class="bi bi-box-arrow-in-right"></i
          ></span>
          <input
            class="form-control"
            id="sourceInput"
            data-bs-delay='{"show":1000,"hide":150}'
            data-bs-placement="bottom"
            data-bs-title="source node title"
            data-bs-toggle="tooltip"
            placeholder="source node title"
            type="text"
            th:value="${source}" />
          <ul
            class="dropdown-menu position-absolute start-0 top-100 mt-1 w-100"
            id="sourceInput-dropdown"></ul>
        </div>
        <div class="input-group">
          <button
            class="btn btn-sm btn-outline-dark"
            id="reverseBtn"
            data-bs-delay='{"show":1000,"hide":150}'
            data-bs-placement="bottom"
            data-bs-title="flip source & target titles"
            data-bs-toggle="tooltip">
            <i class="bi bi bi-arrow-down-up"></i>
          </button>
        </div>
        <div class="input-group position-relative">
          <span class="input-group-text"
            ><i class="bi bi-box-arrow-left"></i
          ></span>
          <input
            class="form-control"
            id="targetInput"
            data-bs-delay='{"show":1000,"hide":150}'
            data-bs-placement="bottom"
            data-bs-title="target node title"
            data-bs-toggle="tooltip"
            placeholder="target node title"
            type="text"
            th:value="${target}" />
          <ul
            class="dropdown-menu position-absolute start-0 top-100 mt-1 w-100"
            id="targetInput-dropdown"></ul>
        </div>
      </div>
      <div class="row g-3 align-items-center mb-3">
        <div
          th:replace="~{fragments/pagination_control :: pagination_control}"></div>
      </div>
      <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
          <div class="input-group">
            <div class="form-check form-switch">
              <label
                class="form-check-label"
                for="hierarchical-checkbox"
                >hierarchical</label
              >
              <input
                class="form-check-input"
                id="hierarchical-checkbox"
                checked
                data-bs-delay='{"show":1000,"hide":150}'
                data-bs-placement="bottom"
                data-bs-title="vis network hierarchical solver"
                data-bs-toggle="tooltip"
                role="switch"
                type="checkbox" />
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="input-group">
            <span class="input-group-text">direction</span>
            <select
              class="form-select"
              id="direction-select"
              aria-label="direction"
              data-bs-delay='{"show":1000,"hide":150}'
              data-bs-placement="bottom"
              data-bs-title="hierarchical solver direction"
              data-bs-toggle="tooltip">
              <option value="UD">UD</option>
              <option value="DU">DU</option>
              <option
                selected
                value="LR">
                LR
              </option>
              <option value="RL">RL</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
          <div class="input-group">
            <span class="input-group-text">solver</span>
            <select
              class="form-select"
              id="solver-select"
              aria-label="solver"
              data-bs-delay='{"show":1000,"hide":150}'
              data-bs-placement="bottom"
              data-bs-title="vis network solver"
              data-bs-toggle="tooltip">
              <option
                selected
                value="barnesHut">
                barnesHut
              </option>
              <option value="repulsion">repulsion</option>
              <option value="hierarchicalRepulsion">
                hierarchicalRepulsion
              </option>
              <option value="forceAtlas2Based">forceAtlas2Based</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row g-3 align-items-center mb-3">
        <div class="col-auto">
          <button
            class="btn btn-outline-dark bi bi-gear-fill"
            id="graphBtn"
            data-bs-delay='{"show":1000,"hide":150}'
            data-bs-placement="bottom"
            data-bs-title="fetch & plot paths between source & target"
            data-bs-toggle="tooltip">
            plot
          </button>
        </div>
        <div class="col-auto">
          <button
            class="btn btn-outline-dark bi bi-shuffle"
            id="randomBtn"
            data-bs-delay='{"show":1000,"hide":150}'
            data-bs-placement="bottom"
            data-bs-title="fetch & plot path between random source & random target"
            data-bs-toggle="tooltip">
            random
          </button>
        </div>
        <div class="col-auto">
          <button
            class="btn btn-outline-dark bi bi-cloud-arrow-down-fill"
            id="downloadBtn"
            data-bs-delay='{"show":1000,"hide":100}'
            data-bs-placement="bottom"
            data-bs-title="download all paths between source & target"
            data-bs-toggle="tooltip">
            download
          </button>
        </div>
        <div class="col-auto">
          <button
            class="btn btn-outline-dark bi bi-x-lg"
            id="clearBtn">
            clear
          </button>
        </div>
        <div class="col-auto">
          <div id="spinner"></div>
        </div>
      </div>
    </div>
  </body>
</html>
